<div class="row justify-content-md-center">
  <div class="col-md-5">
    <div style="border: solid 1px silver; height:50px; position: relative;">  
      <input type="text" class="doNotHighlightOnFocus" #searchRef
        style="border:0; margin:5px; font-size:24px; height:40px; display: inline-block; width:85%;" (keyup.Enter)="search($event)" placeholder="Search...">        
        &nbsp;&nbsp;      
      <span style="position: absolute; top:10px; right:5px;" class="float-end">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
      </span>       
    </div>  
    <a style="cursor: pointer;" class="float-end" (click)="searchRef.value='';search($event);">reset</a>
  </div>  
</div> 
<br><br> 

<div *ngIf="blogs; else noRecordsFound">  
    <div *ngFor="let blog of blogs">
        <h4>
          <a routerLink="/view-blog/{{blog.id}}" 
            style="color:#6a0096; text-decoration: none;">{{blog.title}}</a>        
        </h4>
        <small>{{blog.updatedAt}}</small> | <em>{{blog.createdBy}}</em>
        <br>
        <p style="font-size:24px;">{{blog.summary}}</p>
        
        <hr>
    </div>
  </div>
  <ng-template #noRecordsFound>
    <div class="alert alert-warning alert-dismissible" role="alert">
      No records found.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </ng-template>
  <!-- <div class="d-flex justify-content-between">     -->
    <div *ngIf="showPrevPage" style="display:inline-block;">
        <a (click)="previousPageClicked()" title="Previous Page" style="cursor: pointer;">
  
        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
          </svg>
        </a></div>
    <div *ngIf="showNextPage" style="display:inline-block; margin-left:10px;">
        <a (click)="nextPageClicked()" title="Next Page" style="cursor: pointer;">
        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
          </svg>    
        </a>
    </div>