<div class="row justify-content-md-center">
    <div class="col-md-3">
        <h3>Register</h3>
        <div class="alert alert-danger" *ngIf="showAlert">
            {{alertMessage}}                
        </div>
        <form [formGroup]="registerForm" (ngSubmit)="register()" novalidate>
        <input type="text" name="firstName" #firstRef 
        formControlName="firstName" placeholder="first name" id="firstName" class="form-control">
        <div *ngIf="!getControl.firstName.valid && (getControl.firstName.dirty || getControl.firstName.touched)" class="text-danger">
            <div *ngIf="getControl.firstName.errors.required">first name is required.</div>          
            </div>
        <br>
        <input type="text" name="lastName" 
            formControlName="lastName" placeholder="last name" id="lastName" class="form-control">
            <div *ngIf="!getControl.lastName.valid && (getControl.lastName.dirty || getControl.lastName.touched)" class="text-danger">
                <div *ngIf="getControl.lastName.errors.required">last name is required.</div>          
                </div>
        <br>
        <input type="email" name="email" id="email" (blur)="checkIfEmailExists($event)"
            formControlName="email" placeholder="email" class="form-control">
            <div *ngIf="!getControl.email.valid && (getControl.email.dirty || getControl.email.touched)" class="text-danger">
                <div *ngIf="getControl.email.errors.required">email is required.</div>          
                <div *ngIf="getControl.email.errors.email">Email seems invalid.</div>
            </div>
        <br>
        <input type="password" name="password"
            formControlName="password" placeholder="password" id="password" class="form-control">
            <div *ngIf="!getControl.password.valid && (getControl.password.dirty || getControl.password.touched)" class="text-danger">
                <div *ngIf="getControl.password.errors.required">password is required.</div>   
                <div *ngIf="getControl.password.errors.minlength">min. 8 chars required.</div>                 
                </div>
        <br>
        <input type="password" name="confirmPassword"
            formControlName="confirmPassword" placeholder="confirm password" id="confirmPassword" class="form-control">
        <div *ngIf="!getControl.confirmPassword.valid && (getControl.confirmPassword.dirty || getControl.confirmPassword.touched)" class="text-danger">
            <div *ngIf="getControl.confirmPassword.errors.required">confirm password is required.</div>          
            <div *ngIf="getControl.confirmPassword.errors.minlength">min. 8 chars required.</div>          
            </div>
        <br>
        <button class="btn btn-sm btn-primary" [disabled]="!registerForm.valid">Register</button>
        </form>
    </div>
</div>
